<!-- created changes with form_for code to implement paperclip in the app -->
<!-- I'm not sure if I should keep f the same, or change it to form like the example on github -->
<!-- probably doesn't matter :P -->
<%= form_for(@user), :url => users_path, :html => { :multipart => true } do |f| %>
<!-- f.file_field avatar added here for paperclip -->
	<%= f.file_field :avatar %>
	
	<%= render partial: 'users/errors', locals:{instance:@user} %>
	<div class="form-group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="form-group">
		<%= f.label :img_url %>
		<%= f.text_field :img_url %>
	</div>

	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>

	<div class="form-group">
		<%= f.label :password %>	
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>	