<h1>Welcome To Median <%= @current_user.first_name %>!</h1>

<!-- testing available users -->
<% @users.each do |user| %>
	<%= user.first_name %>
<% end %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for a category:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<p>Business Name: <%= @res_name %></p>
<p>Distance from you, in meters: <%= @res_dist %></p>
<p>Business Address: <%= @res_addr %></p>

<div id='map'></div>


