<h1>Hello, <%= @user.first_name %>!</h1>

<%= image_tag @user.avatar.url %>
<%= image_url @user.avatar.url(:medium) %>
<%= image_url @user.avatar.url(:thumb) %>

<ul>
<p><img src="<%= @user.img_url %>"></p>
<li><%= @user.first_name %></li>
<li><%= @user.email %></li>
<li><%= @user.address%></li>
<%= link_to "Edit #{@user.first_name}'s Info",edit_user_path(@user)%>
<%= link_to "Delete #{@user.first_name}"'s account', user_path(@user), method: :delete %>
</ul>


