<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>


<div class="col-sm-offset-3">
  <div class="col-sm-7">
    <div class="well">
      <h2>Sign into HangOut</h2><br>
      <%= form_tag login_path do %>
        <div class="form-group">
          <%= label_tag :email, nil, class:"control-label" %>
          <%= text_field_tag :email, params[:email], autofocus: true, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :password, nil, class:"control-label" %>
          <%= password_field_tag :password, params[:password], class:"form-control" %>
        </div>

      <p>  <%= submit_tag "Log in", id:"submit-user", class:"btn btn-block btn-primary" %></p>
      <% end %>
      <%= link_to "Don't have an account? Sign up here", new_user_path %>
      <p>
        <%= link_to "Forgot your password?", new_reset_path, :id => "Forgot your password?"%>
      </p>
    </div>
  </div>
</div>
