<body class="show-body">

	<div class="header-container">
	<div class="ui inverted segment show">
		  <div class="ui inverted secondary menu">
		    <a class="logo-item">
			<%= image_tag("median-logo4.png") %>
			</a>
			<a class="item">
			<%= image_tag("median-icon2.png") %>
				</a>
      <a class="active item">
        Home
      </a>
      <a class="active item">
        About
      </a>
      <a class="active item">
        Contact
      </a>  
    </div>
  </div>
</div>   
	
	<div class="show-profile-info">
		<h1 class="show-h1">Hello, <%= @current_user.first_name %>!</h1>


		<ul id="user-profile-info">
			<li>
				<%= image_tag @current_user.avatar, :class => "avatar" %>
			</li>
			<li>
				<%= @current_user.first_name %></li>
			<li>
				<%= @current_user.email %></li>
			<li>
				<%= @current_user.address%>
			</li>

			<li>
				<%= link_to "Edit #{@current_user.first_name}'s Info",edit_user_path(@current_user)%><br>
			</li>
			<li>	
				<%= link_to "Delete #{@current_user.first_name}"'s account', user_path(@current_user), method: :delete %><br>
			</li>
		</ul>
	</div>	
</body>	

 <script>
  
  var imagestwo = ["/assets/sports-731506_1920.jpg", "/assets/skater-821502_1920.jpg", "/assets/coffee-desk-notes-workspace.jpg", "/assets/stairs-man-person-walking.jpg"];

  var randomNum = Math.floor(Math.random() * imagestwo.length); 
  console.log(randomNum);

  var randomImage = imagestwo[randomNum];

$("#larger").css("background", "url(" + randomImage + ")");
$("#larger").css("background-size", "cover");
$("#larger").css("background-repeat", "no-repeat"); 
$("#larger").css("width", "100%");
$("#larger").css("height", "");

console.log(randomImage);

</script> 


